In [ ]:
import pandas as pd
import numpy as np

In [66]:
# 读取数据
file_path = "/Users/neo/Documents/ngrams/guardian_articles.csv"
df = pd.read_csv(file_path)

In [67]:
australia_sections_df = df[df['sectionName'].str.contains('Australia', case=False)]

In [4]:
# 确认sectionName列的唯一值
unique_sections = df['sectionName'].unique()
print("Unique sections in the dataset:", unique_sections)

Unique sections in the dataset: ['US news' 'World news' 'Football' 'Sport' 'Television & radio'
 'Guardian Small Business Network' 'News' 'Australia news' 'Business'
 'Opinion' 'Politics' 'Education' 'Money' 'UK news' 'Books' 'Media'
 'Life and style' 'Art and design' 'Film' 'Stage' 'Music' 'Environment'
 "Children's books" 'Travel' 'Science' 'Society' 'Technology'
 'Guardian Careers' 'Fashion' 'Guardian Sustainable Business' 'Culture'
 'Food' 'Global' 'Crosswords' 'Community' 'Law' 'Housing Network'
 'Working in development' 'Public Leaders Network' 'Teacher Network'
 'Cities' 'Guardian Masterclasses'
 'Global Development Professionals Network'
 'Healthcare Professionals Network' 'Women in Leadership' 'Media Network'
 'Global development' 'Culture professionals network' 'Games'
 'Voluntary Sector Network' 'Social Care Network' 'Side Hustle'
 'GNM press office' 'Info' 'Membership' 'Guardian Foundation' 'Weather'
 'Help' 'From the Observer' 'Trade Boost' 'From the Guardian' 'Inequality'
 'Sustainability' 'Salesforce: The Unfair Advantage'
 'Guardian US press office' 'Society Professionals' 'Personal Investments'
 'Guardian Live Australia' 'wellbeing at work'
 'Observer Food Monthly awards' 'Cannes Lions' 'Business to business'
 'Animals farmed' 'New faces of tech' 'Higher Education Network'
 'Future-focused IT' 'Destination NSW: Uncover the unspoilt South Coast'
 'Dairy Australia: Listen to your gut' 'Professional supplements'
 'Dairy Australia: Sustainable futures'
 'Cathay Pacific: Upgrade your experience' 'Focus' 'The last taboo'
 'SBS On Demand' 'OPSM: Life in focus' 'Xero: Resilient business'
 'Sonos: Hyper real' 'Westpac Scholars: Rethink tomorrow'
 'Commonwealth Bank Australia: Next Chapter'
 'Dark Matter Distribution: The Leadership' 'De Bortoli: Going green'
 'Dairy Australia: The food matrix' 'WEHI: Brighter together'
 'Amazon Prime Video: Truth Seekers'
 'Australia Post: Creating connections' 'Guardian Australia press office'
 'Powershop: Power potential' 'HBF: Healthy choices'
 'Bank Australia: Collective good'
 'The University of Melbourne: Graduating Performances'
 'Destination NSW: Road Trips' 'Bank Australia: People Australia Needs'
 'Felix Mobile: The only one' 'Brother: Doing business well' 'About'
 'SBS On Demand: Are You Addicted to Technology'
 'Tourism NT: Territory Art Trails'
 'Unicef Australia: World Immunisation Week 2021'
 'Dairy Australia: We need to talk' 'Square: Good business'
 "See if it's time to sell" 'Chromebook: Helping Chinatown'
 'Feasting with Ocado' 'WA Museum: Discovering Ancient Greece'
 'Mazda: Sustainable style' 'Dairy Australia: Healthy sustainable diets'
 'A time for Japan' 'SBS On Demand: New Gold Mountain' 'HBF: Never Settle'
 "Helga's: Capturing kindness" 'GNM archive' 'Meta: Buy Blak'
 'Quest Apartment Hotels: As local as you like it'
 'SBS: A world of difference' 'The invested generation'
 'Curtin University: Why study law' 'Michelin: Built to keep you moving'
 'OPSM: Optimal health' 'Plico: Renewable energy'
 'Westpac Foundation: Investing in social enterprise'
 'Sustainable home improvements' 'Specsavers: Liberty London'
 'Further education: share your skills' 'Kyco: Full transparency'
 'MG Motor: Switch to electric' 'BMW: Sustainable mobility'
 'Mirvac: Voyager' 'Travel Associates: Get out there in the Red Centre'
 'Boutique Homes: My home my way'
 'Plan International Australia: Global Hunger Crisis Appeal'
 'Snooze: Investing In Sleep' 'Dairy Australia: fracture research'
 'The Fred Hollows Foundation: 30 years of restoring sight'
 'Marine Stewardship Council: Saltwater Schools' 'You could be here'
 'Connected thinking' 'Seek: The new world of work'
 'Huelwear - clothes for the conscious' 'Rediscover tequila'
 'Macquarie: Home of electric vehicles' 'Dine: Hope Grows'
 'Leisure like a local' 'AMC+: Only the good stuff'
 'Cancer Council Victoria: Giving in Will'
 'The Life You Can Save: Effective giving' 'A vision for better food'
 'Australian World Orchestra: Zubin Mehta'
 'OPSM: a vision for safer roads' 'Community of solvers'
 'When more of us play, all of us win'
 'The University of Notre Dame: Ethical education'
 'Celebrating women engineers 2022' 'IFAW: Help animals thrive'
 'Archie Rose: Tailored spirits']

In [3]:
# 打印数据概况
print("Length of articles dataset =", len(df))
print(df.head(10))

Length of articles dataset = 149839
                                          article_id sectionName  \
0  us-news/2016/jan/31/iowa-caucus-underdog-candi...     US news
1  us-news/2016/jan/31/iowa-caucus-worlds-most-pa...     US news
2  world/2016/jan/31/tanzania-britsh-helicopter-p...  World news
3  football/2016/jan/31/late-winner-gets-usa-off-...    Football
4  football/2016/jan/31/blackburn-paul-lambert-ox...    Football
5  football/blog/2016/jan/31/leyton-orient-cambri...    Football
6  football/2016/jan/31/jurgen-klopp-liverpool-yo...    Football
7  football/2016/jan/31/saido-berahino-west-brom-...    Football
8  football/2016/jan/31/tommy-elphick-harry-arter...    Football
9  football/blog/2016/jan/31/john-terry-leaves-ch...    Football

                                            webTitle  \
0  Iowa underdogs put on brave faces despite all ...
1  Iowa caucus: hologram eagle and Jesus star on ...
2  British pilot in Tanzania 'manoeuvred ​to save...
3  USA 3-2 Iceland | International friendly match...
4  Reinvigorated Paul Lambert reflects after impr...
5  Leyton Orient’s Kevin Nolan admits to hurt aft...
6  Jürgen Klopp hails Liverpool youngsters but re...
7  Saido Berahino has right attitude but he’s not...
8  Tommy Elphick turns thoughts to Harry Arter af...
9  John Terry to leave Chelsea as one of the club...

                                              webUrl  \
0  https://www.theguardian.com/us-news/2016/jan/3...
1  https://www.theguardian.com/us-news/2016/jan/3...
2  https://www.theguardian.com/world/2016/jan/31/...
3  https://www.theguardian.com/football/2016/jan/...
4  https://www.theguardian.com/football/2016/jan/...
5  https://www.theguardian.com/football/blog/2016...
6  https://www.theguardian.com/football/2016/jan/...
7  https://www.theguardian.com/football/2016/jan/...
8  https://www.theguardian.com/football/2016/jan/...
9  https://www.theguardian.com/football/blog/2016...

                                         bodyContent    webPublicationDate  id
0  As polling day looms and the cameras turn only...  2016-01-31T23:53:37Z   1
1  In Des Moines on Sunday, the Guardian was give...  2016-01-31T23:46:28Z   2
2  A British pilot who was shot dead by an elepha...  2016-01-31T23:43:48Z   3
3  USA took a step toward shaking off the ghosts ...  2016-01-31T23:30:49Z   4
4  The clean-shaven, spectacle free and suspiciou...  2016-01-31T22:30:10Z   5
5  Reality caught up with Kevin Nolan on Saturday...  2016-01-31T22:30:10Z   6
6  Jürgen Klopp’s exasperation was understandable...  2016-01-31T22:30:10Z   7
7  Tony Pulis hopes his only transfer business be...  2016-01-31T22:30:10Z   8
8  Tommy Elphick paid tribute to his team-mate Ha...  2016-01-31T22:30:10Z   9
9  Many will just shrug and mutter good riddance....  2016-01-31T22:27:16Z  10

In [11]:
import pandas as pd

def filter_and_combine_australia_sections(df, start_date, end_date, section_names, output_file_path):
    """
    根据指定日期范围和多个部分名称筛选数据，并保存到指定路径。

    Args:
    - df: DataFrame
    - start_date: 起始日期，格式为 'YYYY-MM-DD'
    - end_date: 结束日期，格式为 'YYYY-MM-DD'
    - section_names: 部分名称的列表
    - output_file_path: 输出文件路径
    """
    # 转换日期列为日期时间格式
    df['webPublicationDate'] = pd.to_datetime(df['webPublicationDate'])

    # 转换起始和结束日期为日期时间格式，并进行时区本地化
    start_date_utc = pd.to_datetime(start_date).tz_localize('UTC')
    end_date_utc = pd.to_datetime(end_date).tz_localize('UTC')

    # 根据section_names筛选数据
    filtered_df = df[(df['webPublicationDate'] >= start_date_utc) & 
                     (df['webPublicationDate'] <= end_date_utc) & 
                     (df['sectionName'].isin(section_names))]

    # 删除缺失内容的行
    filtered_df = filtered_df.dropna(subset=['bodyContent'])

    # 保存数据
    filtered_df.to_csv(output_file_path, index=False)

    print("Filtered data has been saved to:", output_file_path)

# 读取CSV文件到DataFrame
df = pd.read_csv('/Users/neo/Documents/ngrams/guardian_articles.csv')  # 请替换为实际的文件路径

# 设置日期范围和部分名称列表
start_date = '2019-12-31'
end_date = '2022-03-25'
australia_sections = [
    'Australia news', 
    'Guardian Live Australia', 
    'Dairy Australia: Listen to your gut', 
    'Dairy Australia: Sustainable futures'
]
section_names = ['Business', 'Healthcare Professionals Network','Money','Politics','Guardian Sustainable Business','Social Care Network','Personal Investments','Business to business']  # 根据需要调整部分名称
health_economy_output_file_path = "/Users/neo/Documents/ngrams/health_economy_articles_2018_to_2022.csv" # 请替换为实际路径



# 定义输出文件路径
au_news_output_file_path = "/Users/neo/Documents/ngrams/australia_news_articles_2018_to_2022.csv"

# 执行筛选和合并操作
filter_and_combine_australia_sections(df, start_date, end_date, australia_sections, au_news_output_file_path)


# 执行筛选和合并操作
filter_and_combine_australia_sections(df, start_date, end_date, section_names, health_economy_output_file_path)

Filtered data has been saved to: /Users/neo/Documents/ngrams/australia_news_articles_2018_to_2022.csv
Filtered data has been saved to: /Users/neo/Documents/ngrams/health_economy_articles_2018_to_2022.csv

In [8]:
# 转换起始和结束日期为日期时间格式，并进行时区本地化
start_date_utc = pd.to_datetime(start_date).tz_localize('UTC')
end_date_utc = pd.to_datetime(end_date).tz_localize('UTC')

# 对每个部分名称计算在指定日期范围内的文章数量
for section in australia_sections:
    section_articles = df[(df['webPublicationDate'] >= start_date_utc) & 
                          (df['webPublicationDate'] <= end_date_utc) & 
                          (df['sectionName'] == section)]
    print(f"Number of articles in '{section}' from {start_date} to {end_date}: {len(section_articles)}")

Number of articles in 'Australia news' from 2019-12-31 to 2022-03-25: 3057
Number of articles in 'Guardian Live Australia' from 2019-12-31 to 2022-03-25: 0
Number of articles in 'Dairy Australia: Listen to your gut' from 2019-12-31 to 2022-03-25: 0
Number of articles in 'Dairy Australia: Sustainable futures' from 2019-12-31 to 2022-03-25: 0

In [45]:
import pandas as pd
from datetime import datetime

df = pd.read_csv('/Users/neo/Documents/ngrams/guardian_articles.csv')
df['webPublicationDate'] = df['webPublicationDate'].apply(
    lambda x: datetime.strptime(x, "%Y-%m-%dT%H:%M:%SZ").strftime("%Y-%m-%d")
)

df.head()
columns_to_drop = ['article_id', 'webTitle', 'webUrl', 'id']
modified_df = df.drop(columns=columns_to_drop, axis=1)

In [46]:
modified_df.head()

,sectionName,bodyContent,webPublicationDate
0,US news,As polling day looms and the cameras turn only...,2016-01-31
1,US news,"In Des Moines on Sunday, the Guardian was give...",2016-01-31
2,World news,A British pilot who was shot dead by an elepha...,2016-01-31
3,Football,USA took a step toward shaking off the ghosts ...,2016-01-31
4,Football,"The clean-shaven, spectacle free and suspiciou...",2016-01-31

In [47]:
modified_df['sectionName'].value_counts().head(10)

sectionName
World news        15501
Opinion           12130
Football          10896
Sport             10376
Australia news     7844
US news            7480
Politics           7074
Business           6990
UK news            6481
Life and style     5773
Name: count, dtype: int64

In [48]:
# 确保日期列是日期类型
modified_df['webPublicationDate'] = pd.to_datetime(modified_df['webPublicationDate']).dt.date

# 步骤2: 筛选日期
start_date = datetime.strptime('2018-01-01', '%Y-%m-%d').date()
end_date = datetime.strptime('2022-03-31', '%Y-%m-%d').date()
date_filtered_df = modified_df[(modified_df['webPublicationDate'] >= start_date) & (modified_df['webPublicationDate'] <= end_date)]


# 步骤3: 筛选sectionName
section_names = ['World news','Opinion','Australia news','Politics','Business','UK news'
]
section_filtered_df = date_filtered_df[date_filtered_df['sectionName'].isin(section_names)]

# 步骤4: 保存筛选后的数据
new_file_path = '/Users/neo/Documents/ngrams/filtered_guardian_articles.csv'
section_filtered_df.to_csv(new_file_path, index=False)

In [49]:
filtered = pd.read_csv('/Users/neo/Documents/ngrams/filtered_guardian_articles.csv')
filtered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38133 entries, 0 to 38132
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   sectionName         38133 non-null  object
 1   bodyContent         37938 non-null  object
 2   webPublicationDate  38133 non-null  object
dtypes: object(3)
memory usage: 893.9+ KB

In [50]:
filtered.head()

,sectionName,bodyContent,webPublicationDate
0,Politics,The government is to release a leaked Brexit a...,2018-01-31
1,World news,Twenty-two school children on their way to sta...,2018-01-31
2,Politics,Ireland’s deputy prime minister has warned it ...,2018-01-31
3,Australia news,The former prime minister Kevin Rudd is suing ...,2018-01-31
4,Business,"The Labor leader, Bill Shorten, on Tuesday sen...",2018-01-31

In [51]:
filtered['sectionName'].value_counts()

sectionName
World news        11269
Opinion            7912
Australia news     5419
Business           4672
Politics           4606
UK news            4255
Name: count, dtype: int64

In [52]:
import pandas as pd

# 假设你的DataFrame名为df
# 计算每个sectionName的数量
section_counts = filtered['sectionName'].value_counts()

# 找出数量大于等于10的sectionName
sections_to_keep = section_counts[section_counts >= 10].index

# 过滤DataFrame，只保留数量大于等于10的sectionName的数据行
filtered_df = filtered[filtered['sectionName'].isin(sections_to_keep)]

In [55]:
filtered_df

,sectionName,bodyContent,webPublicationDate
0,Politics,The government is to release a leaked Brexit a...,2018-01-31
1,World news,Twenty-two school children on their way to sta...,2018-01-31
2,Politics,Ireland’s deputy prime minister has warned it ...,2018-01-31
3,Australia news,The former prime minister Kevin Rudd is suing ...,2018-01-31
4,Business,"The Labor leader, Bill Shorten, on Tuesday sen...",2018-01-31
...,...,...,...
38128,World news,Top story: ‘They want to raze it to the ground...,2022-03-23
38129,UK news,A Russian couple who staged a solitary protest...,2022-03-23
38130,Opinion,All big experiences in our lives have two real...,2022-03-23
38131,World news,"Until the Russian invasion of Ukraine, Hungary...",2022-03-23
38132,World news,The lines for sugar in Saratov were hard not t...,2022-03-23

In [56]:
['webPublicationDate']=pd.to_datetime(filtered_df['webPublicationDatfiltered_dfe'])

In [57]:
['year_quarter'] = filtered_df['webPublicationDate'].dt.year.astype(str) + '-Q' + filtered_df['webPublicationDate'].dt.quarter.astype(str)

In [64]:
filtered_df[filtered_df['year_quarter'] == '2019-Q4']

,sectionName,bodyContent,webPublicationDate,year_quarter
15052,Australia news,The out‐of‐pocket fees incurred by mothers wit...,2019-10-31,2019-Q4
15053,Politics,Boris Johnson was booed by an angry medical st...,2019-10-31,2019-Q4
15054,Australia news,Scott Morrison has promised extra aged care fu...,2019-10-31,2019-Q4
15055,Business,Office space firm WeWork and its beleaguered f...,2019-10-31,2019-Q4
15056,World news,Syrian Kurds are asking the Pentagon to block ...,2019-10-31,2019-Q4
...,...,...,...,...
17275,Opinion,Honest reflection is rarely born from trauma: ...,2019-12-18,2019-Q4
17276,Opinion,"At the start of the election campaign, Boris J...",2019-12-18,2019-Q4
17277,Opinion,Two of England’s most prestigious Premier Leag...,2019-12-18,2019-Q4
17278,World news,"The Champs-Élysées, often called the “most bea...",2019-12-18,2019-Q4
17279,Business,The UK competition watchdog has said there is ...,2019-12-18,2019-Q4

In [65]:
filtered_df.to_csv('/Users/neo/Documents/ngrams/bert_filtered_final10.csv', index=False)